<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'My Markets' | translate }} 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <h3 *ngIf="emptyMarkets">{{"You have not create markets yet" | translate }} </h3>
    <ion-card *ngFor="let market of markets">
      <div class="marketImage">
        <img src='{{market.getPhotos()[0].getContent()}}' />
      </div>
      <ion-card-content>
        <ion-card-title>
          <h2>{{ market.name }}</h2>
        </ion-card-title>
        <ion-icon name="calendar"></ion-icon>
        <span>{{market.date | date:'dd-MM-yyyy hh:mm'}}</span>
        <p>{{ market.description | slice:0:200}} </p>

        <h2>{{ "Market options" | translate }}</h2>

        <button (click)="view(market.id)" ion-button>
          <ion-icon name="eye"></ion-icon> {{"View"|translate}}
        </button>
        <button (click)="edit(market.id)" ion-button>
          <ion-icon name="options"></ion-icon> {{"Edit"|translate}}
        </button>
        <button (click)="delete(market.id)" ion-button>
          <ion-icon name="trash"></ion-icon> {{"Delete"|translate}}
        </button>
    
      
      <h3>{{ "Repeat Market" | translate }}</h3>

      <ion-grid>
          <ion-row>
            <ion-col col-md-6>
                <ion-item>
                    <ion-datetime [(ngModel)]="market.date" pickerFormat="YYYY/MM/DD HH:m" displayFormat="YYYY/MM/DD HH:m"></ion-datetime>
                </ion-item>  
            </ion-col>
            <ion-col col-md-6>
                <ion-item>
                    <button (click)="repeat(market.id)" ion-button>
                        <ion-icon name="repeat"></ion-icon> {{"Repeat"|translate}}
                      </button>
                </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>


      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab right bottom>
    <button (click)="add()" ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>