<ion-header>

    <ion-navbar>
      <ion-title *ngIf="this.market.getId() > 0">{{"Details of" | translate}} : {{market.name}}</ion-title>
      <ion-title *ngIf="this.market.getId() == 0">{{"Market not found" | translate}}</ion-title>
    </ion-navbar>
  
  </ion-header>
  

  <ion-content *ngIf="this.market.getId() == 0">
      <ion-card>
          <ion-card-content>
          <ion-card-title>
              <h1>{{ "Oooops" | translate }}</h1>
              <h2>{{ "The market you are looking for does not exist" | translate }}</h2>
              <p>
                <img src="assets/img/image.png">
              </p>
            </ion-card-title>
          </ion-card-content>
      </ion-card>
  </ion-content>
  
  <ion-content *ngIf="this.market.getId() > 0">

    <div>
      <ion-segment [(ngModel)]="tab">
        <ion-segment-button value="info">{{"Info" | translate}}</ion-segment-button>
        <ion-segment-button (click)="loadComments()" value="comments">{{"Comments" | translate}}</ion-segment-button>
        <ion-segment-button (click)="loadAssistance()" value="assistance">{{"Assistance" | translate}}</ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="tab" >
      <ion-list *ngIf="tab=='info'" ngSelected="selected">
        <ion-card>
          <ion-slides zoom="true" pager="true" zoom="true">
            <ion-slide *ngFor="let photo of this.market.photos" class="marketImage">
              <img src='{{photo.getContent()}}' />
            </ion-slide>
          </ion-slides>
          <ion-card-content>
            <ion-card-title>
              <h1>{{ market.name }}</h1>
            </ion-card-title>
            <p class="tagWrapper">
              <span *ngIf='market.place == "INDOOR"' class="tag place private">
                <ion-icon name="globe"></ion-icon>
                {{ "Indor market" | translate }}
              </span>
                <span *ngIf='market.place == "OUTDOOR"' class="tag place private">
              <ion-icon name="home"></ion-icon>
              {{ "Outdoor market" | translate }}
            </span>
              <span *ngIf='market.place == "PUBLIC"' class="tag place private">
              <ion-icon name="flower"></ion-icon>
              {{ "Public market" | translate }}
            </span>
            </p>
            <p class="tagWrapper">
            <span *ngIf='market.type == "FREE"' class="tag type free">
              <ion-icon name="card"></ion-icon>
              {{ "Free market" | translate }}
            </span>
           <span *ngIf='market.type == "PAY"' class="tag type pay">
             <ion-icon name="card"></ion-icon>
              {{ "Pay market" | translate }}
           </span>
           <span *ngIf='market.type == "MIXED"' class="tag type mixed">
             <ion-icon name="card"></ion-icon>
              {{ "Mixed market free and payed items" | translate }}
           </span>
          </p>
            <ion-icon *ngIf='!market.islexible' name="calendar"></ion-icon>
            <span *ngIf='!market.flexible'>{{market.date | date:'dd-MM-yyyy hh:mm'}}</span>
            <span *ngIf='market.flexible'>{{ "This market has not an specific date. Let a comment to plan a visit." | translate }}</span>
      
            <p>{{ market.description }}</p>
  
            <ion-item class="clickable" *ngIf='market.owner'>
                <h2>{{ "Created by" | translate }}</h2>
              <ion-avatar item-start>
                  <img  src="{{ market.owner.photo }}" (click)="viewUser(market.owner.id)"/>
              </ion-avatar>
              <h3>{{ market.owner.fullname }} <em>{{ market.owner.email }}</em></h3>
            </ion-item>
          </ion-card-content>
        </ion-card>
     </ion-list>
  <ion-list *ngIf="tab=='comments'">
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          <h2>{{ "Comments" | translate }}</h2>
        </ion-card-title>
        <div *ngIf="this.userProvider.getCurrentUserId() > 0">
        <ion-item>
            <ion-input required [(ngModel)]="commentContent" placeholder='{{"Your comment" | translate}}' type="text"></ion-input>
          </ion-item>
          <button ion-button (click)="addComment()">{{"Comment" | translate}}</button>
        </div>
          <ion-list *ngFor="let comment of comments">
              <ion-item>
                <ion-avatar item-start>
                    <img  src="{{ comment.user.photo.String }}"/>
                </ion-avatar>
                <h2>{{ comment.user.fullname.String }} <em>{{ comment.user.email }}</em></h2>
                <p>{{ comment.date }} : {{ comment.content }}</p>
                <button *ngIf="this.userProvider.getCurrentUserId() == comment.user.id" (click)="removeComment(comment.id)">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </ion-item>
            </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-list>
    <ion-list *ngIf="tab=='assistance'">
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          <h2>{{ "Assistance list" | translate }}</h2>
          <div *ngIf="this.userProvider.getCurrentUserId() > 0">
          <button ion-button (click)="addAssistance()">{{"Assist" | translate}}</button>
          </div>
        </ion-card-title>
        <ion-list *ngFor="let assistance of assistances">
            <ion-item>
              <ion-avatar item-start>
                  <img  src="{{ assistance.user_id.photo.String }}"/>
              </ion-avatar>
              <h2>{{ assistance.user_id.fullname.String }} <em>{{ assistance.user_id.email }}</em></h2>
              <p>{{ assistance.date }}</p> 
              <button *ngIf="this.userProvider.getCurrentUserId() == assistance.user_id.id" (click)="removeAssistance(assistance.id)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item>
          </ion-list>
      </ion-card-content>
    </ion-card>
     </ion-list>
  </div>
  <div id="map"></div>
  <ion-fab *ngIf="this.platform.is('android') || this.platform.is('ios')" right middle>
      <button (click)="share()" ion-fab color="primary"><ion-icon name="share"></ion-icon></button>
  </ion-fab>

  <ion-fab *ngIf="!this.platform.is('android') && !this.platform.is('ios')" right middle>
      <button ion-fab color="primary"><ion-icon name="share"></ion-icon></button>
      <ion-fab-list side="left">
        <button (click)='this.openPopUp(this.getFacebookUrl())' ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
        <button (click)='this.openPopUp(this.getTwitterUrl())' ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
        <button (click)='this.openPopUp(this.getGooglePlusUrl())' ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>