<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong *ngIf="place != null">{{place.description}}</strong> 
      <strong *ngIf="place == null">{{'Your location'|translate}}</strong> 
    </ion-title>
    <ion-buttons end>
    <button (click)="showMap()" ion-button icon-left>
        <ion-icon name="map"></ion-icon> {{ "Map" | translate}}
      </button>
    </ion-buttons>  
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="noLocation">
    <ion-grid class="searchLocation">
      <div id="searchPlace" class="searchPlaceMain"></div>
    </ion-grid>
    <ion-grid class="buttonSelectLocation">
        <button  (click)="loadCurrentPosition()" ion-button block icon-center>
            <ion-icon name="locate"></ion-icon>
        </button>
    </ion-grid>
  </div>

  <ion-list>
    <div class="emptyLocation" *ngIf="!positionIsLoaded()">
      <h3>{{'Location unavailable' | translate }} </h3>
      <p>You can retry or select manually your location</p>
      <button  (click)="loadCurrentPosition()" ion-button block icon-center>
          {{'Retry' | translate }}
      </button>
      <img src="assets/img/nolocation.png">
    </div>
    <div class="emptyMarkets" *ngIf="positionIsLoaded() && emptyMarkets">
      <h3>{{'Sorry we cannot find markets in this location' | translate }} </h3>
      <img src="assets/img/market.png">
    </div>


    <ion-card *ngFor="let market of markets" (click)="view(market.id)">
        <p *ngIf='market.place == "INDOOR"' class="privacy private">
          {{ "PRIVATE MARKET" | translate }}</p>
       <p *ngIf='market.place == "OUTDOOR"' class="privacy private">
          {{ "PRIVATE MARKET" | translate }}</p>
       <p *ngIf='market.place == "PUBLIC"' class="privacy public">
           {{ "PUBLIC MARKET" | translate }}</p>
      <div class="marketImage">
          <img src='{{market.getPhotos()[0].getContent()}}' />
      </div>
      <ion-card-content>
        <ion-card-title>
          <h2>{{ market.name }}</h2>
        </ion-card-title>
        <ion-icon name="calendar"></ion-icon>
        <span>{{market.date | date:'dd-MM-yyyy hh:mm'}}</span>
        <p>{{ market.description | slice:0:200}} </p>

      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom>
    <button (click)="add()" ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>