page-home {

}

.marketImage{
     height: 250px;
     overflow: hidden; 
}

.searchLocation{
    width: 70%;
    float: left;
}
.searchLocation .searchbar{
    margin: 0 !important;
    padding:0;
}

.buttonSelectLocation button, .buttonFilter button{
    margin: 0 !important;
    height: 40px !important;
}

.buttonSelectLocation ,.buttonFilter{
    width: 15%;
    float: left;
}

.buttonSelectLocation button{

}

