<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Markets' | translate }} 
      <strong *ngIf="place != null">in {{place.description}}</strong> 
      <strong *ngIf="place == null">in your current location</strong> 
    </ion-title>
    <ion-buttons end>
    <button (click)="showMap()" ion-button icon-left>
        <ion-icon name="map"></ion-icon> {{ "Map" | translate}}
      </button>
    </ion-buttons>  
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="noLocation">
    <ion-toolbar class="searchLocation">
        <ion-searchbar class="" [disabled]="searchDisabled" [(ngModel)]="query" (ionInput)="searchPlace()" placeholder='{{"Change address" | translate}}'>
        </ion-searchbar>
    </ion-toolbar>
    <ion-toolbar class="buttonSelectLocation">
        <button  (click)="loadCurrentPosition()" ion-button icon-right>
            <ion-icon name="locate"></ion-icon>
        </button>
    </ion-toolbar>

    <ion-list>
      <ion-item *ngFor="let place of places" (click)="selectPlace(place)">{{place.description}}</ion-item>
    </ion-list>


  </div>

  <ion-list>
    <ion-card *ngFor="let market of markets" (click)="view(market)">
      <div class="marketImage">
        <img src='{{market.image}}' />
      </div>
      <ion-card-content>
        <ion-card-title>
          <h2>{{ market.name }}</h2>
        </ion-card-title>
        <ion-icon name="calendar"></ion-icon>
        <span>{{market.startDate | date:'dd-MM-yyyy hh:mm'}}</span>
        <p>{{ market.description | slice:0:200}} </p>

      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab right bottom>
    <button (click)="add()" ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>