page-home {

}

.marketImage{
     height: 250px;
     overflow: hidden; 
}

.searchLocation{
    width: 80%;
    float: left;
}
.searchLocation .searchbar{
    margin: 0;
    padding:0;
}

.buttonSelectLocation{
    width: 20%;
}

.buttonSelectLocation button{

}

