<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"New market" | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveMarket()">{{"Save" | translate}}</button>      
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item >
    <img  *ngFor="let photo of market.photos" src="{{photo.content}}"  class="photoInput" (click)="uploadPhotoAlert($event,photo.id)"/>
</ion-item>
  <ion-list>
    <ion-item style="height:30%">
      <ion-label color="primary" fixed>{{"Name" | translate}}</ion-label>
      <ion-input [(ngModel)]="market.name" type="text"  placeholder='{{"Name" | translate}}'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" fixed>{{"Description" | translate}}</ion-label>
      <ion-textarea [(ngModel)]="market.description"  placeholder='{{"Description" | translate}}'></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>{{"Place" | translate}}</ion-label>
      <ion-select [(ngModel)]="market.place" multiple="false" interface="action-sheet" cancelText='{{"Cancel" | translate}}'>
        <ion-option value="INDOOR">{{"Indoor" | translate}}</ion-option>
        <ion-option value="OUTDOOR">{{"Outdoor" | translate}}</ion-option>
        <ion-option value="PUBLIC">{{"Public" | translate}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{"Type" | translate}}</ion-label>
      <ion-select [(ngModel)]="market.type" multiple="false" interface="action-sheet" cancelText='{{"Cancel" | translate}}'>
        <ion-option value="FREE">{{"Free" | translate}}</ion-option>
        <ion-option value="PAY">{{"Pay" | translate}}</ion-option>
        <ion-option value="MIXED">{{"Mixed" | translate}}</ion-option>
        <ion-option value="SOLIDARY">{{"Solidary" | translate}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>{{"Availability" | translate}}</ion-label>
        <ion-select [(ngModel)]="market.flexible" multiple="false" interface="action-sheet" cancelText='{{"Cancel" | translate}}'>
          <ion-option value="0">{{"Specific date to visit the market" | translate}}</ion-option>
          <ion-option value="1">{{"Permanent, people contact to schedule a visit" | translate}}</ion-option>
        </ion-select>
      </ion-item>

    <ion-item *ngIf='market.flexible == 0'>
      <ion-label>{{"Date" | translate}}</ion-label>
      <ion-datetime [(ngModel)]="market.date" pickerFormat="YYYY/MM/DD HH:m" displayFormat="YYYY/MM/DD HH:m"></ion-datetime>
    </ion-item>
    <div id="searchPlace" class="searchPlace"></div>
    <ion-list>
      <ion-item *ngFor="let place of places" (click)="selectPlace(place)">{{place.description}}</ion-item>
    </ion-list>
  </ion-list>
  <div  id="map"></div>
</ion-content>
